body {
    background: #ccc;
}

#ContainerBase {
    background: #eee;
    padding-left: 0px;
    padding-right: 0px;

}
.nav-link {
    font-size: 20px !important;
    border-right: 2px solid white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#lastNav{
    border: none !important;


}

