body {
    background: #ccc;
}

.container {
    background: #eee;
    padding-left: 0px;
    padding-right: 0px;

}
.nav-link {
    font-size: 18px !important;
    border-right: 2px solid white !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#lastNav{
    border: none !important;
}

#navAdmin{
    color: lightgrey;
    border: none !important;
}

#navAdmin:hover{
    color: white;
    border: none !important;
}

.sideBar {
    background-color: #313131;
    height: 100em;
    color: white;
}

.navAdmin-link {
    font-size: 20px;
    color:lightgrey;
}

.navAdmin-link:hover {
    color: white;
}

li {
    list-style: none;
}

/*
 !!!!!!!!!!!!!  boutton input upload image   !!!!!!!!!!!!!!!
 */
.custom-file-input ~ .custom-file-label::after {
    content: 'cliquez pour ajouter votre image';
}

.cke_contents { height: 70vh !important;}

.article{
    background-color: floralwhite !important;
}