{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% for livre in livres %}

                <div class="col-6">
                    <div class="card border-secondary my-2">
                        <div class="row">
                            <div class="col-5">
                                <img class="card-img-top m-2" src="assets/uploads/{{ livre.image }}" alt="Image Livre">

                            </div>
                            <div class="col-6 mt-5" style="text-align: center;">
                                <h2>{{ livre.nom }}</h2>

                                <p class="mt-5">Lien Amazon :</p>
                                <a href="{{ livre.lien }}" target="_blank" style="color: deepskyblue">Cliquez ici</a>



                            </div>

                            <div class="card-body mx-3">
                                <h4 class="card-title">Résumé :</h4>
                                <p class="card-text">{{ livre.resume | raw }}</p>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
